*{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 800px;
}
.post{
    border: 2px solid lightcoral;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.post-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-bar{
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.active-link{
    color: green;
}